<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • TodoMVC</title>
  <link rel="stylesheet" href="assets/index.css">
</head>
<body>

  <section id="app">

    <!-- Header section-->
    <header id="header">
      <h1>Calculate Calories</h1>
    </header>

    <!-- Main data container -->
    <section class="container">

      <!-- Search list -->
      <section id = "search" class="box left">
        <header id = "searchMain">
          <input id="new-search" placeholder="Search product" autofocus>
        </header>
        <section id = "searchResults">
          <div id="loading">Loading...</div>
          <ul id="search-list"></ul>
        </section>
      </section>

      <!-- Chosen products list -->
      <section id = "list" class="box right">
        <header id = "listMain">
          <label id="title">Chosen Products</label>
        </header>
        <section id = "main">
          <ul id="products-list"></ul>
        </section>
        <section id = "total">
          Total: <span class="totalCount">0</span>
        </section>
      </section>

    </section>
  </section>

  <!-- Template for search results -->
  <script type="text/template" id="searchitem-template">
    <div class="view">
      <label id="product">Product: <%- item_name %></label>
      <label id="brand">Brand: <%- brand_name %></label>
      <label id="calories">Calories: <%- calories %></label>
    </div>
  </script>

  <!-- Template for chosen products results -->
  <script type="text/template" id="productitem-template">
    <div class="view">
      <label id="product">Product: <%- item_name %></label>
      <button class="destroy"></button>
      <label id="brand">Brand: <%- brand_name %></label>
      <label id="calories">Calories: <%- calories %></label>
    </div>
  </script>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage-min.js"></script>

  <script src="js/models/searchItem.js"></script>
  <script src="js/models/resultsItem.js"></script>
  <script src="js/collections/searchItems.js"></script>
  <script src="js/collections/resultsItems.js"></script>
  <script src="js/views/searchItemView.js"></script>
  <script src="js/views/resultsItemView.js"></script>
  <script src="js/views/searchView.js"></script>
  <script src="js/views/resultsView.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>
</body>
</html>